
<div class="row justify-content-center">

<div class="jumbotron shadow p-3 mb-5 bg-white rounded col col-6 ">
  <h1 class="display-4">Felicidades estas logeado ✅ </h1>
  <hr class="my-4">
  <p>Por Jesus Alfonzo</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/Alfonzzoj" role="button">@Alfonzzoj</a>
</div>
</div>